@font-face {
  font-family: "iconfont"; /* Project id 4272847 */
  src: url('iconfont.woff2?t=1696242982111') format('woff2'),
       url('iconfont.woff?t=1696242982111') format('woff'),
       url('iconfont.ttf?t=1696242982111') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renxiang:before {
  content: "\e61f";
}

.icon-time:before {
  content: "\e6c2";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-arrow-up-circle:before {
  content: "\e666";
}

.icon-arrow-right-circle:before {
  content: "\e667";
}

.icon-arrow-down:before {
  content: "\e668";
}

.icon-ashbin:before {
  content: "\e669";
}

.icon-arrow-right:before {
  content: "\e66a";
}

.icon-browse:before {
  content: "\e66b";
}

.icon-bottom:before {
  content: "\e66c";
}

.icon-back:before {
  content: "\e66d";
}

.icon-bad:before {
  content: "\e66e";
}

.icon-arrow-double-left:before {
  content: "\e66f";
}

.icon-arrow-left-circle:before {
  content: "\e670";
}

.icon-arrow-double-right:before {
  content: "\e671";
}

.icon-caps-lock:before {
  content: "\e672";
}

.icon-camera:before {
  content: "\e673";
}

.icon-chart-bar:before {
  content: "\e674";
}

.icon-attachment:before {
  content: "\e675";
}

.icon-code:before {
  content: "\e676";
}

.icon-close:before {
  content: "\e677";
}

.icon-check-item:before {
  content: "\e678";
}

.icon-calendar:before {
  content: "\e679";
}

.icon-comment:before {
  content: "\e67a";
}

.icon-column-vertical:before {
  content: "\e67b";
}

.icon-column-horizontal:before {
  content: "\e67c";
}

.icon-complete:before {
  content: "\e67d";
}

.icon-chart-pie:before {
  content: "\e67e";
}

.icon-cry:before {
  content: "\e67f";
}

.icon-customer-service:before {
  content: "\e680";
}

.icon-delete:before {
  content: "\e681";
}

.icon-direction-down:before {
  content: "\e682";
}

.icon-copy:before {
  content: "\e683";
}

.icon-cut:before {
  content: "\e684";
}

.icon-direction-down-circle:before {
  content: "\e685";
}

.icon-direction-right:before {
  content: "\e686";
}

.icon-direction-up:before {
  content: "\e687";
}

.icon-discount:before {
  content: "\e688";
}

.icon-direction-left:before {
  content: "\e689";
}

.icon-download:before {
  content: "\e68a";
}

.icon-electronics:before {
  content: "\e68b";
}

.icon-elipsis:before {
  content: "\e68c";
}

.icon-export:before {
  content: "\e68d";
}

.icon-explain:before {
  content: "\e68e";
}

.icon-edit:before {
  content: "\e68f";
}

.icon-eye-close:before {
  content: "\e690";
}

.icon-email:before {
  content: "\e691";
}

.icon-error:before {
  content: "\e692";
}

.icon-favorite:before {
  content: "\e693";
}

.icon-file-common:before {
  content: "\e694";
}

.icon-file-delete:before {
  content: "\e695";
}

.icon-file-add:before {
  content: "\e696";
}

.icon-film:before {
  content: "\e697";
}

.icon-fabulous:before {
  content: "\e698";
}

.icon-file:before {
  content: "\e699";
}

.icon-folder-close:before {
  content: "\e69a";
}

.icon-filter:before {
  content: "\e69b";
}

.icon-good:before {
  content: "\e69c";
}

.icon-hide:before {
  content: "\e69d";
}

.icon-home:before {
  content: "\e69e";
}

.icon-history:before {
  content: "\e69f";
}

.icon-file-open:before {
  content: "\e6a0";
}

.icon-import:before {
  content: "\e6a1";
}

.icon-image-text:before {
  content: "\e6a2";
}

.icon-layers:before {
  content: "\e6a3";
}

.icon-lock:before {
  content: "\e6a4";
}

.icon-fullscreen-expand:before {
  content: "\e6a5";
}

.icon-map:before {
  content: "\e6a6";
}

.icon-meh:before {
  content: "\e6a7";
}

.icon-menu:before {
  content: "\e6a8";
}

.icon-loading:before {
  content: "\e6a9";
}

.icon-help:before {
  content: "\e6aa";
}

.icon-minus-circle:before {
  content: "\e6ab";
}

.icon-modular:before {
  content: "\e6ac";
}

.icon-notification:before {
  content: "\e6ad";
}

.icon-mic:before {
  content: "\e6ae";
}

.icon-more:before {
  content: "\e6af";
}

.icon-pad:before {
  content: "\e6b0";
}

.icon-play:before {
  content: "\e6b1";
}

.icon-navigation:before {
  content: "\e6b2";
}

.icon-pdf:before {
  content: "\e6b3";
}

.icon-prompt:before {
  content: "\e6b4";
}

.icon-refresh:before {
  content: "\e6b5";
}

.icon-search:before {
  content: "\e6b6";
}

.icon-share:before {
  content: "\e6b7";
}

.icon-scanning:before {
  content: "\e6b8";
}

.icon-security:before {
  content: "\e6b9";
}

.icon-success:before {
  content: "\e6ba";
}

.icon-smile:before {
  content: "\e6bb";
}

.icon-setting:before {
  content: "\e6bc";
}

.icon-task:before {
  content: "\e6bd";
}

.icon-arrow-left-bold:before {
  content: "\e6be";
}

.icon-arrow-up-bold:before {
  content: "\e6bf";
}

.icon-arrow-down-bold:before {
  content: "\e6c0";
}

.icon-arrow-right-bold:before {
  content: "\e6c1";
}

