@import url(./var.css);
@import url(./theme.css);

@media (min-width: 1440px) {
  .VPDoc:not(.has-sidebar) .container {
    max-width: 1380px !important;
  }

  .VPDoc:not(.has-sidebar) .content {
    max-width: 984px !important;
  }

  .vp-doc img {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .vp-doc img {
    max-width: 375px;
  }
}
.vp-doc .line {
  text-wrap: wrap !important;
}

.VPDoc:not(.has-sidebar) .aside {
  order: 1 !important;
  padding-left: 0 !important;
}
.VPDoc:not(.has-sidebar) .aside .VPDocAsideOutline .content {
  border-right: 1px solid var(--vp-c-divider);
  border-left: 0;
  padding-right: 8px;
  padding-left: 0px;
}

.VPDoc:not(.has-sidebar) .content-container {
  max-width: 100%!important;
}

.VPDoc:not(.has-sidebar) .outline-marker {
  left: unset;
  right: -1px;
}
